<p id="notice"><%= notice %></p>

<p>
  <b>Principle:</b>
  <%= @investment.principle %>
</p>

<p>
  <b>Interestrate:</b>
  <%= @investment.interestrate %>
</p>

<p>
  <b>Years:</b>
  <%= @investment.years %>
</p>


<%= link_to 'Edit', edit_investment_path(@investment) %> |
<%= link_to 'Back', investments_path %>
